
.section11 {
    background: url('../assets/images/camera.jpg') center center no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}

/**------------------------------ DIAPO 2 : BIENVENUE A TECHNOPOLICE -----------------------**/
.sectionSlide2 {
    background-size: 100%, 100%;
    background: white url('../assets/images/background/background_technopolice.svg') no-repeat fixed center center;
}

.titleSlide2 {
    font-size: 10vh;
    font-weight: bold;
    line-height: 100px;
    position: absolute;
    left: 12%;
    top: 7%;
    right: 12%;
    display: block;
}

.paragraphSlide2 {
    position: relative;
    font-size: 2.5vh;
    top: 0;
    left: 11%;
    font-family: Calibri;
    width: 60%;
}

/**------------------------------------------FIN DIAPO 2 ------------------------ -----------**/

