.titleDiapoMondeCamera {
    font-size: 80px;
    line-height: 100px;
    position: absolute;
    left: 12%;
    top: 15%;
    right: 12%;
    display: block;
}

.titleDiapoQuoiCamera {
    font-size: 80px;
    line-height: 100px;
    position: absolute;
    left: 12%;
    top: 15%;
    right: 12%;
    display: block;
}

.paragraphDiapoQuoiCamera {
    position: relative;
    top: 145px;
    left: 11%;
    width: 70%;
    line-height: 20px;
}

.paragraphDiapoQuoiCamera2{
    position: relative;
    top: 40px;
    left: 11%;
    width: 70%;
    line-height: 20px;
}

.titleDiapoMuniCamera {
    font-size: 80px;
    line-height: 100px;
    position: absolute;
    left: 12%;
    top: 15%;
    right: 12%;
    display: block;
}

.paragraphDiapoMuniCamera {
    position: absolute;
    top: 50%;
    left: 12%;
    width: 55%;
}

.titleDiapoFranceCamera {
    font-size: 80px;
    line-height: 100px;
    position: absolute;
    left: 12%;
    top: 15%;
    right: 53%;
    display: block;
}

.paragraphDiapoFranceCamera {
    position: absolute;
    top: 49%;
    left: 12%;
    width: 55%;
}

.titleDiapoDeriveCamera {
    font-size: 80px;
    line-height: 100px;
    position: absolute;
    left: 12%;
    top: 15%;
    right: 53%;
    display: block;
}

.paragraphDiapoDeriveCamera {
    position: absolute;
    top: 32%;
    left: 12%;
    width: 55%;
}



.paragraphDiapoMondeCamera {
    position: relative;
    top: 90px;
    left: 11%;
    width: 70%;
    line-height: 20px;
}

.txtBlackParagraphCamera{
    color: black;
    line-height: 2px;
    font-weight: normal;
}

.txtRedParagraphCamera{
    color: red;
    line-height: 2px;
    font-weight: normal;
}

.txtWhiteParagraphCamera{
    color: white;
    line-height: 2px;
    font-weight: normal;
}

.txtBlackTitleCamera{
    color: black;
    font-weight: bold;
    line-height: 2px;
    position: relative;
}

.txtWhiteTitleCamera{
    color: white;
    font-weight: bold;
    line-height: 2px;
    position: relative;
}

.imageCamera {
    position: absolute;
    width: 12%;
    top: 57%;
    right: 5.5%;
    height: 144px;
}

.imageCameraLaser {
    position: absolute;
    width: 70%;
    height: 100%;
    top: 32%;
    right: 7%;
    overflow: hidden;
}

.imageCameraLaserAlerte {
    position: absolute;
    width: 70%;
    height: 80%;
    top: 50%;
    right: 4%;
    overflow: hidden;
}

.imageDroneAlerte {
    position: absolute;
    top: 8%;
    right: 10%;
    height: 720px;
}
