@font-face {
    font-family: 'BebasKai'; /*a name to be used later*/
    src: url("../assets/font/BebasKai.ttf"); /*URL to font*/
}

* {
    outline: 0 !important;
}

:root {
    --color-red: #E62E2B;
    --button-gray: #AFAFAF;
    --background-color1: #EBEBEB;
    --background-color2: #C2C2C2;
    --background-color3: #8C8C8C;
    --background-color4: #656565;
    --background-color5: #3F3F3F;
    --on-clear-color: #2E2E2E;
    --on-dark-color: #FFFFFF;
}

html,
body {
    font-family: BebasKai, sans-serif;
}

.RedImg {
    cursor: pointer;
}

.txtBlack {
    color: black;
    font-family: BebasKai;
}

.txtWhite{
    color:white;
    font-family: BebasKai;
}


.titleDiapo2 {
    font-size: 10vh;
    font-weight: bold;
    line-height: 100px;
    position: absolute;
    left: 12%;
    top: 15%;
    right:12%;
    display: block;
}

.titleDiapoMondeCamera{
    font-size: 80px;
    font-weight: bold;
    line-height: 100px;
    position: absolute;
    left: 12%;
    top: 15%;
    right:12%;
    display: block;
}

.titleDiapoQuoiCamera{
    font-size: 80px;
    line-height: 100px;
    position: absolute;
    left: 12%;
    top: 15%;
    right:12%;
    display: block;
}

.paragraphDiapoQuoiCamera{
    position: relative;
    top: 70px;
    left: 11%;
    width: 55%;
}

.titleDiapoMuniCamera{
    font-size: 80px;
    line-height: 100px;
    position: absolute;
    left: 12%;
    top: 15%;
    right:12%;
    display: block;
}

.paragraphDiapoMuniCamera {
    position: absolute;
    top: 50%;
    left: 12%;
    width: 55%;
}

.titleDiapoFranceCamera{
    font-size: 80px;
    line-height: 100px;
    position: absolute;
    left: 12%;
    top: 15%;
    right:53%;
    display: block;
}

.paragraphDiapoFranceCamera{
    position: absolute;
    top: 49%;
    left: 12%;
    width: 55%;
}

.titleDiapoDeriveCamera{
    font-size: 80px;
    line-height: 100px;
    position: absolute;
    left: 12%;
    top: 15%;
    right:53%;
    display: block;
}

.paragraphDiapoDeriveCamera{
    position: absolute;
    top: 32%;
    left: 12%;
    width: 55%;
}

.title91 {
    font-size: 80px;
    font-weight: bold;
    line-height: 100px;
    position: absolute;
    left: 12%;
    top: 15%;
    display: block;
}

.paragraphDiapo2 {
    position: relative;
    font-size: 2.5vh;
    top: 0;
    left: 11%;
    width: 70%;
}

.paragraphDiapo4 {
    position: relative;
    top: 70px;
    left: 11%;
    width: 55%;
}



.paragraphDiapoMondeCamera {
    position: relative;
    top: 0%;
    left: 11%;
    width: 55%;
}

.paragraphDiapo3 {
    position: relative;
    top: 0%;
    left: 11%;
    width: 70%;
}

.columnThree {
    float: left;
    width: 33.33%;
}

.columnsDiapo2 {
    position: absolute;
    top: 58%;
    align-content: center;
    width: 80%;
    left: 14%;
}

/* Clear floats after the columns */
.columnsDiapo2:after {
    content: "";
    display: table;
    clear: both;
    position: relative;
}

.blackLine {
    width: 3px;
    height: 70%;
    background: black;
    position: absolute;
    left: 10%;
    top: 18%;
}


.txtRed {
    color: var(--color-red);
    font-family: BebasKai;
}


<<<<<<< HEAD
.imageCamera{
    position: absolute;
    top: 33%;
    right: 8%;
    height: 144px;
}

.imageCameraLaser{
    position: absolute;
    top: 33%;
    right: 8%;
}
.whiteline {
    width: 3px;
    height: 400px;
    background: white;
    position: absolute;
    left: 480px;
    top: 80px
}
=======
>>>>>>> a19179f83659626e44fa9cec2d31fbf8a3a86b93

.logos{
    /*margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;*/
    size:5px;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15%;
    background-color: #3F3F3F;
}

.section33 {
    background: url('../assets/images/background_effet_ligne.png') center center no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
    background-color: var(--background-color2);
    border-color: var(--on-dark-color)smoke;
    border-style: solid;
    border-width: 50 px 50 px 50 px 50 px;
}

.section99 {
    background: url('../assets/images/background_effet_ligne.png') center center no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
    background-color: var(--background-color4);
    border-color: var(--on-dark-color)smoke;
    border-style: solid;
    border-width: 50 px 50 px 50 px 50 px;
}
.imageOutil {
    position: absolute;
    top: 8%;
    right: 15%;
    width: 266px;
    height: 144px;
}

.ombreDrone3{
    position: absolute;
    bottom: 8%;
    right: 15%;
    width: 266px;
    height: 144px;
}

.paragraphDiapo3 {
    position: relative;
    top: 0%;
    left: 12%;
    width: 100%;
}


.columnSideLeft {
    float: left;
    width: 10%;
}

.columnMiddle {
    float: left;
    width: 80%;
}

.columnSideRight {
    float: left;
    width: 10%;
}

.columnSideRight2{
    float: left;
    width: 10%;
}

.contentLeft {
    float: left;
    width: 30%;
}

.contentMiddle {
    float: left;
    width: 70%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    margin: 10%;
    display: table;
    clear: both;
}

/* Clear floats after the columns */
.row2:after {
    content: "";
    display: table;
    clear: both;
}

.video_fin{
    position: absolute;
    top: 8%;
    right: 0%;
    width: 50%;
    height: 50%;
}

.imageBD {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.imageHD {
    position: absolute;
    top: 20px;
    right: 20px;
}

.imageBG {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.imageHG {
    position: absolute;
    top: 20px;
    left: 20px;
}

.rec {
    position: absolute;
    top: 50px;
    left: 57px;
}

.rectangle {
    background: white;
    z-index: 10;
    width: 80%;
    height: 80%;
    margin-bottom: 20px;
    margin-left: 20px;
}

.section22 {
     background: url('../assets/images/background_effet_ligne.png') center center no-repeat;
     background-size: 100%, 100%;
     background-attachment: fixed;
     background-color: var(--background-color1);
 }



/**------------------------------ DIAPO 2 : BIENVENUE A TECHNOPOLICE -----------------------**/
.sectionSlide2 {
    background: url('../assets/images/background/background_technopolice.svg') center center no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
    background-color: var(--background-color1);
}

/**------------------------------------------FIN DIAPO 2 ------------------------ -----------**/

.sectionFIN {
    background: url('../assets/images/camera/camera_laser.svg') center right no-repeat;
    background-size: 60%, 60%;
    background-attachment: fixed;
    /*background-color: var(--background-color1);*/
}


/*------------- PAGE ACCUEIL----------------*/
.section11 {
    background: url('../assets/images/camera.jpg') center center no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}

.imageCamera{
    position: absolute;
    top: 33%;
    right: 8%;
    height: 144px;
}
.whiteline {
    width: 4px;
    height: 90%;
    background: white;
    position: absolute;
    left: 35%;
    top: 15%;
}

/*------------- FIN PAGE ACCUEIL----------------*/


.curseur {
    position: absolute;
    vertical-align: center;
    left: 60px;
    bottom: 25%;
    height: 50%;
}

.menuButton {
    position: absolute;
    bottom: 6%;
    left: 3%;
    cursor: pointer;
    font-size: 40px;
}

.sideButton {
    background-color: var(--button-gray);
    border: none;
    color: var(--on-dark-color);
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
    cursor: pointer;
    height: 8%;
    width: 12%;
    position: absolute;
    right: 0;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: rotate(-90deg);
}

.sideButton2 {
    background-color: var(--button-gray);
    border: none;
    color: var(--on-dark-color);
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
    cursor: pointer;
    height: 8%;
    width: 14%;
    position: absolute;
    top:25%;
    right: 0;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: rotate(-90deg);
}

.currentSideButton {
    background-color: var(--color-red);
}

.droneSideButton {
    top: 18%;
}

.droneSideButton2 {
    top: 23%;
}

.cameraSideButton {
    top: 46.5%;
}

.cameraSideButton2{
    top:65%;
}

.recoSideButton {
    bottom: 18%
}

/*
    Home section
 */

.homeChoiceDiv{
    display: block;
    background-color: white;
    min-height: 35vh;
    width: 32%;
    margin-left: 8%;
    margin-right: 8%;
    position: relative;
}

.homeChoiceDiv:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.txtHome{
    font-weight: bold;
    font-size: 4vh;
    text-align: center;
    position: relative;
    top: 28vh;
}

.drone{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 15%;
}

.videoSurveillance1{
    position: absolute;
    width: 50%;
    top: 5%;
    right: 0;
}

.videoSurveillance2{
    position: absolute;
    width: 33%;
    top: 5%;
    left: 0;
}

.reconnaissanceFaciale{

}

a {
    text-decoration: none;
    color: var(--on-dark-color);
}

.containerLeft{
    background-size: 50%, 100%;
    background-color: red;

}

.containerLeftRight{
    background-size:50%,100%;
    background-color:blue
}

.whiteline{
    width:3px;
    height:450px; 
    background:white;
    position: absolute;;
    left: 38%;
}

.title11 {
    color: var(--on-dark-color);
    font-size: 90px;
    font-family:"BebasKai";
    position:absolute;
    top:50%;
    left:40%;
}

.title12 {
    color: var(--on-dark-color);
    font-size: 90px;
    font-family:"BebasKai";
    position:absolute;
    top:65%;
    left:40%;
}

.title13 {
    color: var(--on-dark-color);
    font-size: 35px;
    font-family: "BebasKai";
    position: fixed;
    top: 15%;
    left: 20%;
}

.title14 {
    color: var(--on-dark-color);
    font-size: 35px;
    font-family: "BebasKai";
    position: fixed;
    top: 21%;
    left: 20%;
}

.title2 {
    color: #004460;
    font-size: 40px;
    font-weight: bold;
}

.title3 {
    color: #004460;
    font-size: 30px;
}

.img {
    max-width: 100%;
    position: absolute;
}

.img:hover {
    opacity: 1;
}

.paragraph {
    color: #666666;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    position: absolute;
}

/*
.sectionBorder {
border-style: solid;
border-width: 50px 100px 100px 100px;
/*top right bottom left
}
*/


@media (max-width: 1024px),
(max-height: 600px) {

    .title1 {
        font-size: 40px;
    }

    .title2 {
        font-size: 30px;
    }

    .title3 {
        font-size: 22px;
    }

    .paragraph {
        font-size: 14px;
        line-height: 20px;


        /*
        .sectionBorder {
            border-width: 25px 50px 50px 50px;
        }
        */
    }

}